[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
python-dotenv = "*"
flask = "*"

[packages.exchangelib]
git = "https://github.com/ecederstrand/exchangelib.git"
